*{
    margin:0;
    padding:0;
}
.dd{
    height: 300px;
    width: 500px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}
ul{
    width: 500px;
}
li{
    list-style: none;
    line-height: 50px;
}
.scrollbar{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 6px;border-radius: 5px;
    top: 0;right: 0;
    background-color: rgba(0,0,0,.1);
}
.bar{
    position: absolute;
    width: 6px;border-radius: 5px;
    top: 0;right: 0;
    background-color: rgba(255, 102, 0, 0.39)
}
.bar:hover{
    background-color: #ff6600;
}
